/* FONTS */
/* ----------------------------------------- */

@font-face {
font-family: 'Minion';
font-style: normal;
font-weight: normal;
src: local('Minion Pro Regular'), url('fonts/MinionPro-Regular.woff') format('woff');
}


@font-face {
font-family: 'Minion Italic';
font-style: normal;
font-weight: normal;
src: local('Minion Pro Italic'), url('fonts/MinionPro-It.woff') format('woff');
}


@font-face {
font-family: 'Minion Bold';
font-style: normal;
font-weight: normal;
src: local('Minion Pro Bold'), url('fonts/MinionPro-Bold.woff') format('woff');
}

@font-face {
font-family: 'Minion Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Minion Pro Bold Italic'), url('fonts/MinionPro-BoldIt.woff') format('woff');
}



/* GENERAL */
/* ----------------------------------------- */

* {
  box-sizing: border-box;
}

html, body {
font-family: 'Minion', serif;
font-size: 22px;
line-height: 30px;
background: #fff;
color: #000;
margin: 0;
}

p {
margin-top: 0;
margin-bottom: 20px;
}

h2, h3, h4, h5 {
font-family: 'Minion Bold', serif;
text-align: center;
}

h1 {
font-family: 'Minion', serif;
font-size: 50px;
line-height: 50px;
margin-bottom: 0;
}

h2 {
font-size: 30px;
line-height: 36px;
margin-bottom: 26px;
}

h3 {
font-size: 26px;
line-height: 32px;
margin-bottom: 20px;
}

h4 {
font-size: 20px;
line-height: 26px;
margin-bottom: 16px;
text-align: left;
}

h5 {
font-size: 16px;
line-height: 20px;
margin-bottom: 14px;
text-align: left;
}

b, strong {
font-family: 'Minion Bold';
}

i, em {
font-family: 'Minion Italic';
}

a {
color: #843139;
}

a:hover {
s
}

a:visited {

}

article li {
list-style-type: disc;
margin-left: 3em;
}

.error {
background: rgba(209, 108, 108, .5);
padding: 5px;
border: 1px solid rgb(209, 108, 108);
}

.success {
  background: rgba(34, 167, 83, .3);
  padding: 5px;
  border: 1px solid #22a753;
}

/* HEADER */
/* ----------------------------------------- */

header {
  color: #fff;
  background: url('/img/bonaventure.webp') left center no-repeat #843139;
  background-size: 20%;
}

hgroup {
  padding: 20px 20px 20px 22%;
}

hgroup h1 {
  font-variant: small-caps;
}

hgroup h2 {
  text-align: left;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 24px;
}



/* SIDEBAR */
/* ----------------------------------------- */
 #content {
   display: flex;
 }

 aside {
   width: 25%;
   min-width: 200px;
 }

 aside img.seal {
   width: 50%;
   display: block;
   margin: 20px auto;
 }


/* NAVIGATION */
/* ----------------------------------------- */

nav li a {
display: block;
background: #843139;
color: #fff;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: bold;
text-decoration: none;
text-transform: lowercase;
font-size: 18px;
padding: 5px;
}

nav li a:hover {
  background: #561b20;
}

nav ul {
  margin: 10px;
  padding: 0;
}

nav li {
display: block;
margin: 10px 0;
position: relative;
list-style-type: none;
}

nav li ul {
display: none;
position: absolute;
left: calc(100% - 10px);
top: -10px;
padding: 5px;
z-index: 999;
}

nav li:hover ul {
display: block;
background: #843139;
}

nav li ul li {
display: block;
line-height: 26px;
text-align: left;
margin: 0;
}

.about {
  border: 1px solid #843139;
  padding: 8px;
  margin: 10px;
  text-align: center;
  font-size: 14px;
}

.about h4 {
  font-variant: small-caps;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.about img {
  width: 100%;
}

.about h5 {
  font-variant: small-caps;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.about .school {
  display: block;
  font-size: 13px;
}

.about .img-credit {
  font-family: 'Minion Italic';
  font-size: 10px;
  line-height: 10px;
  text-align: left;
}

/* PAGES */
/* ----------------------------------------- */

#main {
  background: rgba(234, 208, 168, .25);
  margin: 10px;
  padding: 20px;
  width: 100%;
}

#main h2 {
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  margin-top: 0;
  padding: .25em 0;
}


table {
margin: 0 auto;
}

table td {
padding: 4px 8px;
border-bottom: 1px solid #908174;
}

tr.not {
background: rgba(55, 27, 3, 0.3);
}

span.field {
text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}

.buttons .button {
  width: 35%;
}

/* FORMS */
/* ----------------------------------------- */

form fieldset legend {
font-family: 'Minion', serif;
}

form label {
display: inline-block;
}

form input:not(.button),
form textarea,
form select {
width: 100%;
border: 2px solid #000;
border-radius: 0;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
padding: .5em;
font-size: 16px;
}

form input:focus,
form input:focus-visible {
  border: 2px solid #843139;
  border-radius: 0;
  outline: 2px solid rgba(132, 49, 57, .25);
}

form > ul,
.form-section > ul {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

form li {
list-style-type: none;
margin: 10px;
}

form li.whole {
width: 100%;
}

form li.half {
width: calc( 50% - 1em );
}

form li.third {
width: calc( 33% - 1em );
}

form li.fourth {
width: calc( 24% - 1em );
}

form li.checkbox {
  position: relative;
}

form li.checkbox input {
width: 16px;
position: absolute;
    left: -5px;
    top: 3px;
}

form li.checkbox label {
padding-left: 1em;
}

.button,
input[type="submit"] {
display: inline-block;
border: 2px solid #843139;
background: #fff;
color: #000;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 20px;
padding: .5em 2em;
text-decoration: none;
font-weight: bold;
text-align: center;
box-shadow: 7px 7px 24px -4px rgb(0 0 0 / 26%)
}

form input[type="submit"] {
  display: block;
  margin: 2em auto;
}

.button:hover,
input[type="submit"]:hover {
border-color: #000;
color: #843139;
background-color: rgba(234, 208, 168, .1);
}

#format {
display: none;
}

#format table {
margin: 0;
}

#format table th {
text-align: left;
font-family: 'OpenSansBold';
}

#format ul li {
list-style-type: disc;
float: none;
margin-left: 1em;
}

#format ol li {
list-style-type: decimal;
float: none;
margin-left: 1em;
}

#login li {
    float: none;
}

/* SEARCH RESULTS */
/* ----------------------------------------- */

.search_terms {
  font-size: 18px;
  line-height: 22px;
}

.search_terms,
.search_results {
  margin: 0;
  padding: 0;
}

.search_terms li {
  list-style-type: none;
}

.search_results li {
  list-style-type: none;
  margin-bottom: .5em;
}

.notes {
    border: 1px solid #371b03;
    padding: 5px;
    background: rgba(55, 27, 3, 0.3);
}

.maintenance {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #843139;
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 8px 12px 4px 12px;
  text-decoration: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
}

.back-to-top span:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 15px 9px;
  border-color: transparent transparent #fff transparent;
  margin: 0 auto;
}

/* SOURCE DETAILS */
/* ----------------------------------------- */

article.source .label {
  font-family: 'Minion Bold';
}

article.source {
margin-bottom: 20px;
}

article.source p {
margin-bottom: 10px;
}

article.source ul {
  margin: 0;
  padding: 0;
}

article.source ul.apparatus li,
article.source ul.translation li {
display: inline;
margin-left: 5px;
}

article.source ul.apparatus li:after,
article.source ul.translation li:after {
content: ',';
}

article.source ul.apparatus li:last-child:after,
article.source ul.translation li:last-child:after {
content: '';
}


/* FOOTER */
/* ----------------------------------------- */

footer {
clear: both;
text-align: center;
font-size: 12px;
border-top: 1px solid #371b03;
-webkit-box-shadow: 0px 10px 10px -10px #371b03;
box-shadow: 0px -10px 10px -10px #371b03;
}

/* TEXTILE PREVIEW */
/* ----------------------------------------- */

.accessible-tabs-container {
  min-height: 350px;
}

.tab-selectors {
  display: inline-block;
}

.tab-selectors > li {
  display: inline-block;
}

.tab-selectors > .active-tab-selector {
  border: 1px solid #f00;
}

.tab-content {
  display: inline-block;
}

.tab-contents > div {
  display: none;
}

.tab-contents > .tab-content-active {
  display: block;
}

.text_preview {
  padding: 0 1em 4px 1em;
  color: #444;
  font-size: 13px;
  line-height: 1.4;
}
.text_preview h1 {
  line-height: 1.1;
  font-size: 2em;
}
.text_preview h2 {
  line-height: 1.1;
  font-size: 1.6em;
}
.text_preview h3 {
  line-height: 1.14;
  font-size: 1.36em;
}
.text_preview h4 {
  line-height: 1.2;
  font-size: 1.14em;
}
.text_preview h5 {
  line-height: 1.24;
  font-size: 1em;
}
.text_preview h6 {
  line-height: 1.24;
  font-size: 1em;
}
.text_preview code {
  background: #f4f4f4;
}
.text_preview table {
  border-collapse : collapse;
}
.text_preview table th,
.text_preview table td {
  padding : 4px 8px;
  border : 1px solid #aaa;
}
.text_preview ul {
  margin-left: 0;
  padding-left: 2em;
}
.text_preview acronym {
  text-decoration : none;
  border-bottom : 1px dotted #888;
  cursor: help;
}
.text_preview blockquote {
  margin-left: .6em;
  padding-left: 1em;
  border-left: .4em solid #ddd;
}
.text_preview pre > code {
  display: block;
}
.text_preview .caps {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
}

/* MULTISELECT - TOM SELECT */
/* ----------------------------------------- */

#main .ts-control {
  border: 2px solid #000;
  border-radius: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: .5em;
  font-size: 16px;
}

#main .ts-control:focus,
#main .ts-control:focus-visible {
  border: 2px solid #843139;
  border-radius: 0;
  outline: 2px solid rgba(132, 49, 57, .25);
}

#main .ts-dropdown {
  font-size: 18px;
  line-height: 22px;
}

#main .ts-dropdown .active {
  background-color: rgba(234, 208, 168, .1);
  color: #843139;
}

#main .ts-wrapper.multi .ts-control>div {
    background: #843139;
    border: none;
    color: #fff;
    margin: 0 4px 4px 0;
    padding: 3px 8px;
}

#main .ts-wrapper.multi .ts-control [data-value] {
    background-color: #843139;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

#main .ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
    border-left: 1px solid #fff;
}

#main .ts-wrapper.plugin-remove_button .item .remove {
    border-radius: 0;
    padding: 0 8px;
}
